# EditorConfig is awesome:
# editorconfig.org

root = true


[*]
# Thou shalt not use tabs, thou shall use two spaces
indent_style = space
indent_size = 2

# Thou shalt not change this
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false